<%= form_for :proposals, remote: true do |f|%>

<form action="#" class="form-horizontal">
	
	<% if @submission.risk.risk == "Private Passenger"%>
		<%= render partial: "shared/proposals/pp_prop" %>
		
	<% elsif @submission.risk.risk == "Truck"%>
		<%= render "truck_prop", :locals => {:territory => @detail.territory, :business_use => @detail.business_use, :fleet_nonfleet => @detail.fleet_nonfleet, :make => @detail.make, :year => @detail.year, :cost_new => @detail.cost_new, :age_group => @detail.age_group, :size_class => @detail.size_class, :radius_class => @detail.radius_class, :gvw => @detail.gvw, :gcw => @detail.gcw}, layout:'layouts/proposal_truck' %>
			
		<% elsif @submission.risk.risk == "Truck Tractor" %>
			<%= render "truck_tractor_prop", :locals => {:territory => @detail.territory, :business_use => @detail.business_use, :fleet_nonfleet => @detail.fleet_nonfleet, :make => @detail.make, :year => @detail.year, :cost_new => @detail.cost_new, :age_group => @detail.age_group, :size_class => @detail.size_class, :radius_class => @detail.radius_class, :gvw => @detail.gvw, :gcw => @detail.gcw}, layout:'layouts/proposal_truck_tractor' %>	
			
		<% elsif @submission.risk.risk == "Trailer" %>
			<%= render "trailer_prop", {:territory => @detail.territory, :radius_class => @detail.radius_class, :model  => @detail.model, :cost_new => @detail.cost_new, :age_group => @detail.age_group, :load_capacity => @detail.load_capacity}, layout:'layouts/proposal_trailer' %>
			
		<% elsif @submission.risk.risk == "Semi-trailer" %>
			<%= render "trailer_prop", {:territory => @detail.territory, :radius_class => @detail.radius_class, :model  => @detail.model, :cost_new => @detail.cost_new, :age_group => @detail.age_group, :load_capacity => @detail.load_capacity}, layout:'layouts/proposal_trailer' %>
				
		<% else @submission.risk.risk == "Utility/Servicetrailer" %>
			<%= render "trailer_prop", {:territory => @detail.territory, :radius_class => @detail.radius_class, :model  => @detail.model, :cost_new => @detail.cost_new, :age_group => @detail.age_group, :load_capacity => @detail.load_capacity}, layout:'layouts/proposal_trailer' %>
				
	
<% end %>
	
</form>

  
<% end %>