<%= form_for :proposals, remote: true do |f|%>

<form action="#" class="form-horizontal">
	
	<% if @submission.risk.risk == "Private Passenger"%>
		<%= render partial: "shared/proposals/pp_prop" %>
		
	<% elsif @submission.risk.risk == "Truck"%>
		<%= render partial: "truck_prop" %>
			
		<% elsif @submission.risk.risk == "Truck Tractor" %>
			<%= render partial: "truck_tractor_prop" %>	
			
		<% elsif @submission.risk.risk == "Trailer" %>
			<%= render "trailer_prop" %>
			
		<% elsif @submission.risk.risk == "Semi-trailer" %>
			<%= render "trailer_prop"%>
				
		<% else @submission.risk.risk == "Utility/Service Trailer" %>
			<%= render "trailer_prop" %>
				
	<% end %>
	
</form>

  
<% end %>