<%= form_for(@premium) do |f| %>
  <% if @premium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@premium.errors.count, "error") %> prohibited this premium from being saved:</h2>

      <ul>
      <% @premium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container-fluid">
	  <!-- BEGIN FORM-->
	  <form action="#" class="form-horizontal">
		  <h3 class="form-section">Limits Info</h3>
		  <div class="row-fluid">
			  <div class="span4 ">
				  <div class="control-group">
  					  <label class="control-label">Comprehensive </label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12" <%= f.text_field :comp_base %>
					  </div>
  				  </div>
  			  </div>
			  
			  <div class="span4 ">
				  <div class="control-group">
  					  <label class="control-label">Collision </label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12" <%= f.text_field :coll_base %>
					  </div>
  				  </div>
  			  </div>
			  
			  <div class="span4 ">
				  <div class="control-group">
  					  <label class="control-label">Other than Collison</label>
					  <div class="controls">
						  <input type="text" class="m-wrap span12" <%= f.text_field :otc_base %>
					  </div>
  				  </div>
  			  </div> 		
  		  </div>
		  <!--/row-->
		  <div class="form-actions">
			  <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
			  <button type="button" class="btn">Cancel</button>
		  </div>
	  </form>
	  <!-- END FORM--> 
  </div>
  <% end %>
