<h3 class="page-title">
	Insurance Rating<small> demonstration Ruby on Rails project</small>
</h3>
<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i>
		<a href="/">Home</a>
		<i class="icon-angle-left"></i> 
	</li>
	<li>
		<a href="/accounts">Accounts List</a>
	</li>
</ul>
<h1>Listing Premia</h1>

<table class="table-bordered table-striped table-condensed flip-content">
  <thead class="flip-content">
    <tr>
      <th>Comprehensive base</th>
      <th>Collision base</th>
      <th>Other than Collision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @premia.each do |premium| %>
      <tr>
        <td><%= premium.comp_base %></td>
        <td><%= premium.coll_base %></td>
        <td><%= premium.otc_base %></td>
        <td><%= link_to 'Show', premium %></td>
        <td><%= link_to 'Edit', edit_premium_path(premium) %></td>
        <td><%= link_to 'Destroy', premium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premium', new_premium_path %>
