<%= form_for :details, remote: true  do |f|%>

	<form action="#" class="form-horizontal">
		
		<% if @submission.risk == "Private Passenger"%>
			<%= render "shared/details/private_passenger" %>
		
		<% elsif @submission.risk == "Truck"%>
			<%= render :partial => "shared/details/truck" %>
			
		<% elsif @submission.risk == "Truck Tractor"%>
			<%= render :partial => "shared/details/truck" %>
			
		<% elsif @submission.risk == "Trailer" %>
			<%= render :partial => "shared/details/trailer" %>
			
		<% elsif @submission.risk == "Semi-Trailer" %>
			<%= render :partial => "shared/details/trailer" %>
		
		<% else @submission.risk == "Utility/Service trailer" %>
			<%= render :partial => "shared/details/trailer" %>
			
		<% end %>
		
	</form>

<% end %>